@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');

.social-media-list {
  list-style-type: none;
  padding: 0;
}

.social-media-item {
  margin: 10px 0;
}

.social-media-link {
  text-decoration: none;
  color: inherit;
  font-family: 'Roboto Condensed', sans-serif;
}

.social-media-text {
  margin-left: 10px;
}

.fa {
  margin-right: 10px;
}
